---
import Page from "../layouts/Page.astro";
import Card from "../components/Card.astro";
---

<Page title="Pedro Torres-Paraizo">
    <p class="max-w-prose mx-auto text-black leading-7">
        Hello! I'm Pedro, a graduate of the English program at Coastal Carolina University.
        You can find me on
        <a
            class="underline underline-offset-2 decoration-cyan-600 decoration-2"
            href="https://www.linkedin.com/in/pedro-torres-paraizo-067580187/"
            target="_blank"
            rel="noopener noreferrer"
        >
            LinkedIn</a
        >, and if you’d like see some of my writing, check out my works below or view my <a
            class="underline underline-offset-2 decoration-cyan-600 decoration-2"
            href="/resume">Resume</a
        >. Email me @ <a
            class="underline underline-offset-2 decoration-cyan-600 decoration-2"
            href="mailto:pedro@torresparaizo.com">pedro@torresparaizo.com</a
        >
    </p>

    <div class="max-w-prose mx-auto mt-8 grid gap-4">
        <Card>
            <span slot="header">Criticism</span>
            <span slot="title">A "Slip" and a Pastime: James Salter Meets Freud</span>
            <span slot="description">
                In this paper, I detailed how James Salter’s 1967 novel <cite>A Sport and a Pastime</cite> encapsulates Freud's theory
                of creative writers and their connection to day-dreaming, written for a literary theory course. This paper was later
                presented at the centennial Sigma Tau Delta undergraduate research conference in St. Louis in April of 2024.
            </span>
            <a href="/pdfs/torresparaizo-salterfreud.pdf" target="_blank" rel="noopener noreferrer" slot="link">Read Online /</a>
            </span>
            <a href="/pdfs/torresparaizo-salterfreudold.pdf" target="_blank" rel="noopener noreferrer" slot="link"> / Original Version</a>
        </Card>

         <Card>
            <span slot="header">Composition</span>
            <span slot="title">Identity in the Postcolonial Caribbean</span>
            <span slot="description">
                This essay explores the the after-effects of colonialism in the Caribbean, and the art and advocacy that have sprung up
                in the decades since independence. This was for a course on British Literature.
            </span>
            <a href="/pdfs/torresparaizo-postcolonialidentity.pdf" target="_blank" rel="noopener noreferrer" slot="link">Read Online</a>
        </Card>

        <Card>
            <span slot="header">Linguistics</span>
            <span slot="title">Poe's "The Raven," Translated / "O Corvo" de Poe, Traduzido</span>
            <span slot="description">
                In this paper for a special topics course on the work of Edgar Allan Poe, I looked at a few different Portuguese translations of his poem
                "The Raven" published throughout the last century or so, and made my own attempt at a translation of the work. I also analysed the differences
                that can arise from both European and Brazilian Portuguese in terms of how two famous versions of the poem interpret the text.
            </span>
            <a href="/pdfs/torresparaizo-poetranslation.pdf" target="_blank" rel="noopener noreferrer" slot="link">Read Online</a>
        </Card>

        <Card>
            <span slot="header">Composition</span>
            <span slot="title">Playing with Death in <cite>Harold and Maude</cite></span>
            <span slot="description">
                This is a thematic analysis of Hal Ashby's 1971 film <cite>Harold and Maude</cite>, exploring the themes of death and suicide from a 
                philosophical lens, written for a philosophy and film course.
            </span>
            <a href="/pdfs/torresparaizo-haroldandmaude.pdf" target="_blank" rel="noopener noreferrer" slot="link">Read Online</a>
        </Card>

        <Card>
            <span slot="header">Criticism</span>
            <span slot="title">Searching for a Mainline with <cite>White Light/White Heat</cite></span>
            <span slot="description">
                In this essay, I analysed The Velvet Underground's 1968 album <cite>White Light/White Heat</cite>, and charted it's influence on
                heavy music, be it noise rock, metal, avant-garde, or experimental music. This paper was expanded into a presentation in 2023 for 
                CCU's Undergraduate Research Competition.
            </span>
            <a href="/pdfs/torresparaizo-velvetunderground.pdf" target="_blank" rel="noopener noreferrer" slot="link"
                >Read Online</a
            >
        </Card>

         <Card>
            <span slot="header">Composition</span>
            <span slot="title">The Enduring Influence of the Beats</span>
            <span slot="description">
                This literature review explores the impact and influence of the Beat Generation, and was my first major exploration into that movement.
                The paper focuses on works from William S. Burroughs, Allan Ginsberg, Jack Kerouac, and (slightly outside the scope of the Beats) Charles
                Bukowski.
            </span>
            <a href="/pdfs/torresparaizo-beatgeneration.pdf" target="_blank" rel="noopener noreferrer" slot="link">Read Online</a>
        </Card>
    </div>
</Page>
