---
const props = Astro.props;
---

<div class="bg-white border border-slate-600">
    <div class="p-4">
        <h2 class="text-lg font-bold mb-1">
            <slot name="title" />
        </h2>
        <p>
            <slot name="description" />
        </p>
        <div class="underline underline-offset-2 decoration-cyan-600 decoration-2 mt-2"><slot name="link" /></div>
    </div>
</div>
