---

---

<nav class="max-w-prose mx-auto flex flex-wrap pt-2 pb-4 underline underline-offset-2 decoration-cyan-600 decoration-2">
    <div class="flex-grow"><a href="/">Pedro Torres-Paraizo</a></div>
    <div class="flex flex-wrap gap-4">
        <a href="/">Home</a>
        <a href="/resume">Resume</a>
    </div>
</nav>
