---
const { title } = Astro.props;
import NavBar from "../components/NavBar.astro";
import "../styles/styles.css";
import "../styles/work.css";
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap"
            rel="stylesheet"
        />

        <title>{title}</title>
    </head>
    <body class="container mx-auto p-4 font-serif bg-slate-50">
        <NavBar />

        <main class="prose mx-auto">
            <slot />
        </main>
    </body>
</html>
